@import '../../../variables.scss';

.login-card {
  width: 400px;
  padding:0px;
  padding-top: $content-padding;
  .megaops-logo {
    height: 26px;
    width:30px;
    margin: 0 4px 3px 0;
    vertical-align: middle;
  }
  .login-header-image {
    background-image: url('../../../assets/img/logo.png');
    background-size: cover;
  }
  .mat-card-content {
    padding: $content-padding;
    margin-bottom: 0px;
  }

  .signup-link {
    margin-top: 5px;
    a {
      text-decoration: none;
      border-bottom: 1px solid $cops-dark;
      cursor: pointer;
    }
  }

  .sign-in-button {
    line-height: 40px;
  }

  .login-card-action {
    padding: 0 $content-padding $content-padding $content-padding;
  }
}
