<div class="settings-flyout">
  <div class="settings-container container" fxLayout="column" fxLayoutGap="20px">
    <div>
      <span class="heading-primary">New Tag</span>
    </div>
    <form fxFlex="100%" [formGroup]="tagForm" fxLayout="column" fxLayoutAlign="space-between" fxLayoutGap="20px">
      <div fxLayout="column" fxFlex="100%" fxLayoutGap="20px">
        <mat-form-field>
          <input matInput placeholder="Name" formControlName="name" required name>
          <mat-error *ngIf="tagForm.controls['name'].errors && tagForm.controls['name'].errors.required">
            Tag name is <strong>required.</strong>
          </mat-error>
        </mat-form-field>
        <!-- <mat-form-field>
          <input matInput placeholder="Value" formControlName="value" required name>
          <mat-error *ngIf="tagForm.controls['value'].errors && tagForm.controls['value'].errors.required">
            Tag value is <strong>required.</strong>
          </mat-error>
        </mat-form-field> -->
        <!-- <mat-form-field>
          <mat-select placeholder="Group" formControlName="group" required>
            <mat-option *ngFor="let group of groups" [value]="group._id">
              {{group.groupName}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="tagForm.controls['group'].errors && tagForm.controls['group'].errors.required">
            Group is <strong>required</strong>
          </mat-error>
        </mat-form-field> -->
        <mat-form-field>
          <mat-select placeholder="Type" formControlName="type" required>
            <mat-option *ngFor="let type of types" [value]="type.id">
              {{type.name}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="tagForm.controls['type'].errors && tagForm.controls['type'].errors.required">
            Type is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <ng-container *ngIf="tagForm.controls['type'].value === 'select'">
          <mat-form-field>
            <input #optionInput matInput placeholder="Add Option">
            <button mat-button matSuffix (click)="addOption()">
              <mat-icon>add_circle_outline</mat-icon>
            </button>
          </mat-form-field>
          <mat-list>
            <mat-list-item *ngFor="let opt of tagForm.controls['options'].value; let i = index">
              {{ opt }}
              <button mat-icon-button color="warn" (click)="removeOption(i, opt)">
                <i class="material-icons md-18 bold" aria-label="" matTooltip="Delete Option">delete_outline</i>
              </button>
            </mat-list-item>
          </mat-list>
        </ng-container>
      </div>
      <div fxLayout="row" fxLayoutGap="20px" dir="rtl">
        <button mat-raised-button *ngIf="!isEdit" type="submit" class="mat-button-round" color="primary"
          (click)="!tagForm.valid ? null : addOrEditTag()" [copsButtonLoading]="settings.isLoading"
          #eleRef [copsDisableByGroup]="true">Add Tag</button>
        <button mat-raised-button *ngIf="isEdit" type="submit" class="mat-button-round" color="primary"
          (click)="!tagForm.valid ? null : addOrEditTag()" [copsButtonLoading]="isLoading"
          #eleRef [copsDisableByGroup]="true">Save Changes</button>
        <button mat-button type="submit" class="mat-button-round" (click)="onCancel()" color=""
          [disabled]="settings.isLoading">Cancel</button>
      </div>
    </form>
  </div>
</div>