<div fxLayout="row" fxLayoutAlign="space-between center" *ngIf="!isLoading">
    <cops-tabs [tabs]='tabs' (tabChange)="onTabChanged($event)" [selectedIndex]="selectedTabIndex"></cops-tabs>
    <mat-form-field>
        <!-- <mat-label>Favorite food</mat-label> -->
        <mat-select [(value)]="selectedRegion" (selectionChange)="onRegionChange()">
            <mat-option *ngFor="let item of awsRegions" [value]="item.region">
                {{item.region}} [{{item.count}}]
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>
<cops-list [columns]='columnsData' [data]='data' [isLoading]="isLoading"
    (linkClicked)="onLinkClicked($event)"></cops-list>