@import '../../../../variables.scss';

.under-dev {
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  cursor: not-allowed;
  background: rgba(0,80,107,0.1);
  color: rgba(0,80,107,0.5);
  border-radius: $border-radius;
}
