<div class="restricted-access" fxLayout="column" fxLayoutAlign="center center">
  <div fxLayout="column" fxLayoutAlign="center center" class="restricted-text">
    <i class="material-icons md-36 padding-small">lock</i>
    <span class="bold fs-16 padding-small"> This Feature Is Not Available Under Your Current Licence </span>
    <span class="bold fs-16 padding-small"> Reach us at
      <a class="cloud-view" href="mailto:contact@megaops.io?Subject=CloudCops Licence Upgrade Request" target="_top">MegaOps Support</a>
      <i class="material-icons md-16">email</i> to get access </span>
    <span class="bold fs-16 cloud-view" (click)="openCloudView()"> Explore CloudView here <i
        class="material-icons md-16">cloud</i> </span>
  </div>
</div>