<div mat-dialog-content>
  <h2>Under Development</h2>
  <!-- <div></div>
  <div>
    <div >
      <a [href]="fileUrl" download="CopsIntegrationTemplate.json">
        <mat-icon><i class="material-icons primary link">get_app</i></mat-icon><span
          class="primary">CopsIntegrationTemplate.json</span>
      </a>
    </div>
    <mat-horizontal-stepper>
      <mat-step label="Step 1" state="phone">
        <p>Download the template and <a
            href="https://us-west-2.console.aws.amazon.com/cloudformation/home?region=us-west-2#/stacks/new"
            target="_blank">Click here</a> to open AWS console and follow the Steps. </p>
        <img src="assets\img\CreateStack\CreateStack-1.jpg" height="400" width="800" />
        <p>After completion of step, proceed to next step</p>
        <div dir="rtl">
          <button mat-button matStepperNext class="mat-button-round" mat-raised-button color="primary">Next</button>
        </div>
      </mat-step>
      <mat-step label="Step 2" state="chat">
        <p>This will bring you to the next screen.</p>
        <img src="assets\img\CreateStack\CreateStack-2.jpg" height="400" width="800" />
        <p>After completion of step, proceed to next step</p>
        <div dir="rtl" fxLayout="row" fxLayoutGap="20px">
          <button mat-button matStepperNext class="mat-button-round" mat-raised-button color="primary">Next</button>
          <button mat-button matStepperPrevious class="mat-button-round">Previous</button>
        </div>
      </mat-step>
      <mat-step label="Step 3">
        <p>This will bring you to the next screen.</p>
        <img src="assets\img\CreateStack\CreateStack-3.jpg" height="400" width="800" />
        <p>After completion of step, proceed to next step</p>
        <div dir="rtl" fxLayout="row" fxLayoutGap="20px">
          <button mat-button matStepperNext class="mat-button-round" mat-raised-button color="primary">Next</button>
          <button mat-button matStepperPrevious class="mat-button-round">Previous</button>
        </div>
      </mat-step>
      <mat-step label="Finish">
        <p>This will bring you to the final step.</p>
        <img src="assets\img\CreateStack\CreateStack-4.jpg" height="400" width="800" />
        <p>After completion of step and creation of stack, please click Confirm (on bottom of the screen) stating the
          stack is created.</p>
        <div dir="rtl" fxLayout="row" fxLayoutGap="20px">
          <button mat-button matStepperNext class="mat-button-round" mat-raised-button
             color="primary" mdePopoverTriggerOn="click" [copsButtonLoading]="isLoading" [mdePopoverTriggerFor]="multiDeletePopover">Done</button>
            <button mat-button matStepperPrevious class="mat-button-round">Previous</button>
        </div>
      </mat-step>
      <ng-template matStepperIcon="phone">
        <mat-icon>call_end</mat-icon>
      </ng-template>
      <ng-template matStepperIcon="chat">
        <mat-icon>forum</mat-icon>
      </ng-template>
    </mat-horizontal-stepper>
  </div> -->
</div>